---
const siteUrl = process.env.ASTRO_SITE_URL || "http://localhost:4321";
---

<div class="hamburger">
  <button
    ><img src={`${siteUrl}/images/burger.svg`} class="hamburger" /></button
  >
</div>

<style>
  button {
    background-color: transparent;
    border-style: hidden;
    padding: 0.5rem;
  }

  .hamburger {
    display: inline-block;
    cursor: pointer;
  }

  @media screen and (min-width: 636px) {
    .hamburger {
      display: none;
    }
  }
</style>
