---

---
<div class="hamburger">
    <button><img src="/public/images/burger.svg" class="hamburger"/></button>
  </div>

<style>
button{background-color: transparent;
border-style: hidden;
padding: .5rem;}

 .hamburger {
    display: inline-block;
    cursor: pointer;
}

@media screen and (min-width: 636px) {
  .hamburger {
        display: none;
  }
}
</style>
