
  .container {
    max-width: 80vw;
    margin: 0 auto;
  }
  .lista-recetas {
    list-style: none;
    margin-left: 1em;
    margin-bottom: 3em;
  }

  a {
    text-decoration: none;
    font-size: 1.2em;
  }
  a:hover {
    color: var(--txt-color);
  }
