---
import "../../public/styles/global.css";
import Footer from "../components/Footer.astro";
import Hamburger from "../components/Hamburger.astro";
import Navigation from "../components/Navigation.astro";
import { ViewTransitions } from "astro:transitions";
const { pageTitle } = Astro.props;

const siteUrl = process.env.ASTRO_SITE_URL || "http://localhost:4321";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={`${siteUrl}/favicon.svg`} />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <!-- <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" /> -->
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <header>
      <Hamburger />
      <Navigation />
    </header>
    <main>
      <!-- <h1>{pageTitle}</h1> -->
      <slot />
    </main>

    <Footer />
    <!-- <script src="../scripts/menu.js"></script> -->
    <!-- <script>
      const hamburger = document.querySelector(".hamburger");
      const navLinks = document.querySelector(".nav-links");

    
      if (hamburger && navLinks) {
        hamburger.addEventListener("click", () => {
          navLinks.classList.toggle("expanded");
        });
      }
    </script> -->
    <!--   <script>
      document.addEventListener("DOMContentLoaded", () => {
        const hamburger = document.querySelector(".hamburger");
        const navLinks = document.querySelector(".nav-links");
        if (hamburger && navLinks) {
          hamburger.addEventListener("click", () => {
            navLinks.classList.toggle("expanded");
          });
        }
      });
    </script> -->

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const hamburger = document.querySelector(".hamburger");
        const navLinks = document.querySelector(".nav-links");
        if (hamburger && navLinks) {
          hamburger.addEventListener("click", () => {
            navLinks.classList.toggle("expanded");
          });
        }
      });
    </script>
  </body>
</html>
